<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xm.commerce.system.mapper.ecommerce.CategorieMapper">
  <resultMap id="BaseResultMap" type="com.xm.commerce.system.model.entity.ecommerce.EcommerceCategory">
    <!--@mbg.generated-->
    <!--@Table ecommerce_category-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="parent_id" jdbcType="INTEGER" property="parentId" />
    <result column="detail" jdbcType="VARCHAR" property="detail" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `name`, parent_id, detail
  </sql>


  <select id="findCategorieByName" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List"/>
    FROM ecommerce_category
    WHERE name like concat('%', #{name}, '%')
  </select>

  <select id="selectByName" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List"/>
    FROM ecommerce_category
    WHERE detail = #{name}
  </select>
</mapper>