<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xm.commerce.system.mapper.ecommerce.ProductStoreMapper">
    <resultMap id="BaseResultMap" type="com.xm.commerce.system.model.entity.ecommerce.EcommerceProductStore">
        <!--@mbg.generated-->
        <!--@Table ecommerce_product_store-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="uid" jdbcType="INTEGER" property="uid"/>
        <result column="product_name" jdbcType="VARCHAR" property="productName"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="meta_tag_title" jdbcType="VARCHAR" property="metaTagTitle"/>
        <result column="model" jdbcType="VARCHAR" property="model"/>
        <result column="sku" jdbcType="VARCHAR" property="sku"/>
        <result column="category" jdbcType="VARCHAR" property="category"/>
        <result column="mpn" jdbcType="VARCHAR" property="mpn"/>
        <result column="price" jdbcType="DECIMAL" property="price"/>
        <result column="quantity" jdbcType="INTEGER" property="quantity"/>
        <result column="image" jdbcType="VARCHAR" property="image"/>
        <result column="product_link" jdbcType="VARCHAR" property="productLink"/>
        <result column="product_source" jdbcType="VARCHAR" property="productSource"/>
        <result column="product_options" jdbcType="VARCHAR" property="productOptions"/>
        <result column="data_added" jdbcType="TIMESTAMP" property="dataAdded"/>
        <result column="data_modified" jdbcType="TIMESTAMP" property="dataModified"/>
        <result column="upload_shopify" jdbcType="BOOLEAN" property="uploadShopify"/>
        <result column="upload_opencart" jdbcType="BOOLEAN" property="uploadOpencart"/>
        <result column="upload_shopify_by" jdbcType="INTEGER" property="uploadShopifyBy"/>
        <result column="upload_opencart_by" jdbcType="INTEGER" property="uploadOpencartBy"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, uid, product_name, description, meta_tag_title, model, sku, category, mpn, price,
        quantity, image, product_link, product_source, product_options, data_added, data_modified,
        upload_shopify, upload_opencart, upload_shopify_by, upload_opencart_by
    </sql>


    <select id="selectByCategory" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ecommerce_product_store
        <where>
            uid = #{uid}
            <if test="productName != null and productName != ''">
                and product_name like concat('%', #{productName}, '%')
            </if>
            <if test="category != null and category != ''">
                and category like concat('%', #{category}, '%')
            </if>
            <if test="maxPrice != null and minPrice != null">
                and price between #{minPrice} and #{maxPrice}
            </if>
        </where>
        <if test="byAddTime != 0 or byPrice != 0">
            <trim suffixOverrides=",">
                order by
                <choose>
                    <when test="byPrice == 1">
                        price,
                    </when>
                    <when test="byPrice == 2">
                        price desc,
                    </when>
                </choose>
                <choose>
                    <when test="byAddTime == 2">
                        data_added ,
                    </when>
                    <when test="byAddTime == 1">
                        data_added desc,
                    </when>
                </choose>
            </trim>
        </if>
    </select>

    <delete id="deleteByBatch">
        delete
        from ecommerce_product_store
                where id in
        <foreach close=")" collection="ids" item="id" open="(" separator=",">
            #{id}
        </foreach>
    </delete>



    <select id="selectByNameAndUid" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/>
        from ecommerce_product_store
        where product_name = #{productName} and uid = #{uid}
    </select>


    <select id="selectByIds" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/> from ecommerce_product_store
        WHERE id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>



    <update id="updateByPrimaryKeySelective" parameterType="com.xm.commerce.system.model.entity.ecommerce.EcommerceProductStore">
        <!--@mbg.generated-->
        update ecommerce_product_store
        <set>
            <if test="productName != null">
                product_name = #{productName,jdbcType=VARCHAR},
            </if>
            <if test="uid != null">
                uid = #{uid,jdbcType=INTEGER},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="metaTagTitle != null">
                meta_tag_title = #{metaTagTitle,jdbcType=VARCHAR},
            </if>
            <if test="model != null">
                model = #{model,jdbcType=VARCHAR},
            </if>
            <if test="sku != null">
                sku = #{sku,jdbcType=VARCHAR},
            </if>
            <if test="category != null">
                category = #{category,jdbcType=VARCHAR},
            </if>
            <if test="mpn != null">
                mpn = #{mpn,jdbcType=VARCHAR},
            </if>
            <if test="price != null">
                price = #{price,jdbcType=DECIMAL},
            </if>
            <if test="quantity != null">
                quantity = #{quantity,jdbcType=INTEGER},
            </if>
            <if test="image != null">
                image = #{image,jdbcType=VARCHAR},
            </if>
            <if test="productLink != null">
                product_link = #{productLink,jdbcType=VARCHAR},
            </if>
            <if test="productSource != null">
                product_source = #{productSource,jdbcType=VARCHAR},
            </if>
            <if test="productOptions != null">
                product_options = #{productOptions,jdbcType=VARCHAR},
            </if>
            <if test="dataAdded != null">
                data_added = #{dataAdded,jdbcType=TIMESTAMP},
            </if>
            <if test="dataModified != null">
                data_modified = #{dataModified,jdbcType=TIMESTAMP},
            </if>
            <if test="uploadShopify != null">
                upload_shopify = #{uploadShopify,jdbcType=BOOLEAN},
            </if>
            <if test="uploadOpencart != null">
                upload_opencart = #{uploadOpencart,jdbcType=BOOLEAN},
            </if>
            <if test="uploadShopifyBy != null">
                upload_shopify_by = #{uploadShopifyBy,jdbcType=INTEGER},
            </if>
            <if test="uploadOpencartBy != null">
                upload_opencart_by = #{uploadOpencartBy,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <insert id="insertSelective" keyColumn="id" keyProperty="id"
            parameterType="com.xm.commerce.system.model.entity.ecommerce.EcommerceProductStore" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into ecommerce_product_store
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="uid != null">
                uid,
            </if>

            <if test="productName != null">
                product_name,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="metaTagTitle != null">
                meta_tag_title,
            </if>
            <if test="model != null">
                model,
            </if>
            <if test="sku != null">
                sku,
            </if>
            <if test="category != null">
                category,
            </if>
            <if test="mpn != null">
                mpn,
            </if>
            <if test="price != null">
                price,
            </if>
            <if test="quantity != null">
                quantity,
            </if>
            <if test="image != null">
                image,
            </if>
            <if test="productLink != null">
                product_link,
            </if>
            <if test="productSource != null">
                product_source,
            </if>
            <if test="productOptions != null">
                product_options,
            </if>
            <if test="dataAdded != null">
                data_added,
            </if>
            <if test="dataModified != null">
                data_modified,
            </if>
            <if test="uploadShopify != null">
                upload_shopify,
            </if>
            <if test="uploadOpencart != null">
                upload_opencart,
            </if>
            <if test="uploadShopifyBy != null">
                upload_shopify_by,
            </if>
            <if test="uploadOpencartBy != null">
                upload_opencart_by,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="uid != null">
                #{uid,jdbcType=INTEGER},
            </if>
            <if test="productName != null">
                #{productName,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="metaTagTitle != null">
                #{metaTagTitle,jdbcType=VARCHAR},
            </if>
            <if test="model != null">
                #{model,jdbcType=VARCHAR},
            </if>
            <if test="sku != null">
                #{sku,jdbcType=VARCHAR},
            </if>
            <if test="category != null">
                #{category,jdbcType=VARCHAR},
            </if>
            <if test="mpn != null">
                #{mpn,jdbcType=VARCHAR},
            </if>
            <if test="price != null">
                #{price,jdbcType=DECIMAL},
            </if>
            <if test="quantity != null">
                #{quantity,jdbcType=INTEGER},
            </if>
            <if test="image != null">
                #{image,jdbcType=VARCHAR},
            </if>
            <if test="productLink != null">
                #{productLink,jdbcType=VARCHAR},
            </if>
            <if test="productSource != null">
                #{productSource,jdbcType=VARCHAR},
            </if>
            <if test="productOptions != null">
                #{productOptions,jdbcType=VARCHAR},
            </if>
            <if test="dataAdded != null">
                #{dataAdded,jdbcType=TIMESTAMP},
            </if>
            <if test="dataModified != null">
                #{dataModified,jdbcType=TIMESTAMP},
            </if>
            <if test="uploadShopify != null">
                #{uploadShopify,jdbcType=BOOLEAN},
            </if>
            <if test="uploadOpencart != null">
                #{uploadOpencart,jdbcType=BOOLEAN},
            </if>
            <if test="uploadShopifyBy != null">
                #{uploadShopifyBy,jdbcType=INTEGER},
            </if>
            <if test="uploadOpencartBy != null">
                #{uploadOpencartBy,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>



</mapper>