<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xm.commerce.system.mapper.ecommerce.SiteMapper">
  <resultMap id="BaseResultMap" type="com.xm.commerce.system.model.entity.ecommerce.EcommerceSite">
    <!--@mbg.generated-->
    <!--@Table ecommerce_site-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="site_name" jdbcType="VARCHAR" property="siteName" />
    <result column="site_category" jdbcType="BOOLEAN" property="siteCategory" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="domain" jdbcType="VARCHAR" property="domain" />
    <result column="port" jdbcType="VARCHAR" property="port" />
    <result column="account" jdbcType="VARCHAR" property="account" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="db_name" jdbcType="VARCHAR" property="dbName" />
    <result column="db_username" jdbcType="VARCHAR" property="dbUsername" />
    <result column="db_password" jdbcType="VARCHAR" property="dbPassword" />
    <result column="api" jdbcType="VARCHAR" property="api" />
    <result column="api_key" jdbcType="VARCHAR" property="apiKey" />
    <result column="api_password" jdbcType="VARCHAR" property="apiPassword" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, site_name, site_category, ip, `domain`, port, account, `password`, db_name, db_username, 
    db_password, api, api_key, api_password
  </sql>

  <select id="selectAll" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" /> from ecommerce_site
    where site_category = #{siteCategory}
  </select>
</mapper>