<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xm.commerce.system.mapper.ecommerce.SiteMapper">
  <resultMap id="BaseResultMap" type="com.xm.commerce.system.model.entity.ecommerce.Site">
    <!--@mbg.generated-->
    <!--@Table ecommerce_site-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="site_name" jdbcType="VARCHAR" property="siteName" />
    <result column="site_category" jdbcType="BOOLEAN" property="siteCategory" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="domain" jdbcType="VARCHAR" property="domain" />
    <result column="port" jdbcType="VARCHAR" property="port" />
    <result column="account" jdbcType="VARCHAR" property="account" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="api" jdbcType="VARCHAR" property="api" />
    <result column="user_token" jdbcType="VARCHAR" property="userToken" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, site_name, site_category, ip, `domain`, port, account, `password`, api, user_token
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from ecommerce_site
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from ecommerce_site
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.xm.commerce.system.model.entity.ecommerce.Site" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into ecommerce_site (site_name, site_category, ip, 
      `domain`, port, account, 
      `password`, api, user_token
      )
    values (#{siteName,jdbcType=VARCHAR}, #{siteCategory,jdbcType=BOOLEAN}, #{ip,jdbcType=VARCHAR}, 
      #{domain,jdbcType=VARCHAR}, #{port,jdbcType=VARCHAR}, #{account,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR}, #{api,jdbcType=VARCHAR}, #{userToken,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.xm.commerce.system.model.entity.ecommerce.Site" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into ecommerce_site
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="siteName != null">
        site_name,
      </if>
      <if test="siteCategory != null">
        site_category,
      </if>
      <if test="ip != null">
        ip,
      </if>
      <if test="domain != null">
        `domain`,
      </if>
      <if test="port != null">
        port,
      </if>
      <if test="account != null">
        account,
      </if>
      <if test="password != null">
        `password`,
      </if>
      <if test="api != null">
        api,
      </if>
      <if test="userToken != null">
        user_token,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="siteName != null">
        #{siteName,jdbcType=VARCHAR},
      </if>
      <if test="siteCategory != null">
        #{siteCategory,jdbcType=BOOLEAN},
      </if>
      <if test="ip != null">
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="domain != null">
        #{domain,jdbcType=VARCHAR},
      </if>
      <if test="port != null">
        #{port,jdbcType=VARCHAR},
      </if>
      <if test="account != null">
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="api != null">
        #{api,jdbcType=VARCHAR},
      </if>
      <if test="userToken != null">
        #{userToken,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xm.commerce.system.model.entity.ecommerce.Site">
    <!--@mbg.generated-->
    update ecommerce_site
    <set>
      <if test="siteName != null">
        site_name = #{siteName,jdbcType=VARCHAR},
      </if>
      <if test="siteCategory != null">
        site_category = #{siteCategory,jdbcType=BOOLEAN},
      </if>
      <if test="ip != null">
        ip = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="domain != null">
        `domain` = #{domain,jdbcType=VARCHAR},
      </if>
      <if test="port != null">
        port = #{port,jdbcType=VARCHAR},
      </if>
      <if test="account != null">
        account = #{account,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        `password` = #{password,jdbcType=VARCHAR},
      </if>
      <if test="api != null">
        api = #{api,jdbcType=VARCHAR},
      </if>
      <if test="userToken != null">
        user_token = #{userToken,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xm.commerce.system.model.entity.ecommerce.Site">
    <!--@mbg.generated-->
    update ecommerce_site
    set site_name = #{siteName,jdbcType=VARCHAR},
      site_category = #{siteCategory,jdbcType=BOOLEAN},
      ip = #{ip,jdbcType=VARCHAR},
      `domain` = #{domain,jdbcType=VARCHAR},
      port = #{port,jdbcType=VARCHAR},
      account = #{account,jdbcType=VARCHAR},
      `password` = #{password,jdbcType=VARCHAR},
      api = #{api,jdbcType=VARCHAR},
      user_token = #{userToken,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectAll" resultMap="BaseResultMap">
    select id, site_name from ecommerce_site
  </select>
</mapper>