<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xm.commerce.system.mapper.ecommerce.UserMapper">
  <resultMap id="BaseResultMap" type="com.xm.commerce.system.model.entity.ecommerce.EcommerceUser">
    <!--@mbg.generated-->
    <!--@Table ecommerce_user-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="enabled" jdbcType="BIT" property="enabled" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, username, nickname, `password`, enabled
  </sql>


  <select id="findByUsername" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List"/>
    FROM ecommerce_user
    WHERE username = #{username}
  </select>
</mapper>