<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xm.commerce.system.mapper.umino.CategoryMapper">
  <resultMap id="BaseResultMap" type="com.xm.commerce.system.model.entity.umino.OcCategory">
    <!--@mbg.generated-->
    <!--@Table category-->
    <id column="category_id" jdbcType="INTEGER" property="categoryId" />
    <result column="image" jdbcType="VARCHAR" property="image" />
    <result column="parent_id" jdbcType="INTEGER" property="parentId" />
    <result column="top" jdbcType="BOOLEAN" property="top" />
    <result column="column" jdbcType="INTEGER" property="column" />
    <result column="sort_order" jdbcType="INTEGER" property="sortOrder" />
    <result column="status" jdbcType="BOOLEAN" property="status" />
    <result column="date_added" jdbcType="TIMESTAMP" property="dateAdded" />
    <result column="date_modified" jdbcType="TIMESTAMP" property="dateModified" />

  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    category_id, image, parent_id, `top`, `column`, sort_order, `status`, date_added, 
    date_modified
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from category
    where category_id = #{categoryId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from category
    where category_id = #{categoryId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="category_id" keyProperty="categoryId" parameterType="com.xm.commerce.system.model.entity.umino.OcCategory" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into category (image, parent_id, `top`,
      `column`, sort_order, `status`, 
      date_added, date_modified)
    values (#{image,jdbcType=VARCHAR}, #{parentId,jdbcType=INTEGER}, #{top,jdbcType=BOOLEAN}, 
      #{column,jdbcType=INTEGER}, #{sortOrder,jdbcType=INTEGER}, #{status,jdbcType=BOOLEAN}, 
      #{dateAdded,jdbcType=TIMESTAMP}, #{dateModified,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyColumn="category_id" keyProperty="categoryId" parameterType="com.xm.commerce.system.model.entity.umino.OcCategory" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into category
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="image != null">
        image,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="top != null">
        `top`,
      </if>
      <if test="column != null">
        `column`,
      </if>
      <if test="sortOrder != null">
        sort_order,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="dateAdded != null">
        date_added,
      </if>
      <if test="dateModified != null">
        date_modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="image != null">
        #{image,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="top != null">
        #{top,jdbcType=BOOLEAN},
      </if>
      <if test="column != null">
        #{column,jdbcType=INTEGER},
      </if>
      <if test="sortOrder != null">
        #{sortOrder,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=BOOLEAN},
      </if>
      <if test="dateAdded != null">
        #{dateAdded,jdbcType=TIMESTAMP},
      </if>
      <if test="dateModified != null">
        #{dateModified,jdbcType=TIMESTAMP},
      </if>

    </trim>
  </insert>
</mapper>