<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xm.commerce.system.mapper.umino.CategoryDescriptionMapper">
  <resultMap id="BaseResultMap" type="com.xm.commerce.system.model.entity.umino.OcCategoryDescription">
    <!--@mbg.generated-->
    <!--@Table category_description-->
    <id column="category_id" jdbcType="INTEGER" property="categoryId" />
    <id column="language_id" jdbcType="INTEGER" property="languageId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="description" jdbcType="LONGVARCHAR" property="description" />
    <result column="meta_title" jdbcType="VARCHAR" property="metaTitle" />
    <result column="meta_description" jdbcType="VARCHAR" property="metaDescription" />
    <result column="meta_keyword" jdbcType="VARCHAR" property="metaKeyword" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    category_id, language_id, `name`, description, meta_title, meta_description, meta_keyword
  </sql>


  <select id="selectByNameAndLanguageId" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List"/>
    FROM category_description
    WHERE language_id = #{languageId} and name = #{name,jdbcType=VARCHAR}
  </select>
</mapper>