<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xm.commerce.system.mapper.umino.OptionDescriptionMapper">
  <resultMap id="BaseResultMap" type="com.xm.commerce.system.entity.umino.OptionDescription">
    <!--@mbg.generated-->
    <!--@Table oc_option_description-->
    <id column="option_id" jdbcType="INTEGER" property="optionId" />
    <id column="language_id" jdbcType="INTEGER" property="languageId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    option_id, language_id, `name`
  </sql>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from oc_option_description
    where option_id = #{optionId,jdbcType=INTEGER}
      and language_id = #{languageId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map">
    <!--@mbg.generated-->
    delete from oc_option_description
    where option_id = #{optionId,jdbcType=INTEGER}
      and language_id = #{languageId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xm.commerce.system.entity.umino.OptionDescription">
    <!--@mbg.generated-->
    insert into oc_option_description (option_id, language_id, `name`
      )
    values (#{optionId,jdbcType=INTEGER}, #{languageId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xm.commerce.system.entity.umino.OptionDescription">
    <!--@mbg.generated-->
    insert into oc_option_description
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="optionId != null">
        option_id,
      </if>
      <if test="languageId != null">
        language_id,
      </if>
      <if test="name != null">
        `name`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="optionId != null">
        #{optionId,jdbcType=INTEGER},
      </if>
      <if test="languageId != null">
        #{languageId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xm.commerce.system.entity.umino.OptionDescription">
    <!--@mbg.generated-->
    update oc_option_description
    <set>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
    </set>
    where option_id = #{optionId,jdbcType=INTEGER}
      and language_id = #{languageId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xm.commerce.system.entity.umino.OptionDescription">
    <!--@mbg.generated-->
    update oc_option_description
    set `name` = #{name,jdbcType=VARCHAR}
    where option_id = #{optionId,jdbcType=INTEGER}
      and language_id = #{languageId,jdbcType=INTEGER}
  </update>

  <select id="selectByNameAndLanguageId" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List"/>
    FROM oc_option_description
    WHERE language_id = #{languageId} and name = #{name,jdbcType=VARCHAR}
  </select>
</mapper>