<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xm.commerce.system.mapper.umino.OptionDescriptionMapper">
  <resultMap id="BaseResultMap" type="com.xm.commerce.system.model.entity.umino.OcOptionDescription">
    <!--@mbg.generated-->
    <!--@Table oc_option_description-->
    <id column="option_id" jdbcType="INTEGER" property="optionId" />
    <id column="language_id" jdbcType="INTEGER" property="languageId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    option_id, language_id, `name`
  </sql>
  <select id="selectByNameAndLanguageId" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List"/>
    FROM oc_option_description
    WHERE language_id = #{languageId} and name = #{name,jdbcType=VARCHAR}
  </select>
</mapper>