<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xm.commerce.system.mapper.umino.ProductToCategoryMapper">
  <resultMap id="BaseResultMap" type="com.xm.commerce.system.model.entity.umino.ProductToCategory">
    <!--@mbg.generated-->
    <!--@Table oc_product_to_category-->
    <id column="product_id" jdbcType="INTEGER" property="productId" />
    <id column="category_id" jdbcType="INTEGER" property="categoryId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    product_id, category_id
  </sql>
  <delete id="deleteByPrimaryKey" parameterType="map">
    <!--@mbg.generated-->
    delete from oc_product_to_category
    where product_id = #{productId,jdbcType=INTEGER}
      and category_id = #{categoryId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xm.commerce.system.model.entity.umino.ProductToCategory">
    <!--@mbg.generated-->
    insert into oc_product_to_category (product_id, category_id)
    values (#{productId,jdbcType=INTEGER}, #{categoryId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.xm.commerce.system.model.entity.umino.ProductToCategory">
    <!--@mbg.generated-->
    insert into oc_product_to_category
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="productId != null">
        product_id,
      </if>
      <if test="categoryId != null">
        category_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="productId != null">
        #{productId,jdbcType=INTEGER},
      </if>
      <if test="categoryId != null">
        #{categoryId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>