<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xm.commerce.system.mapper.umino.ProductMapper">
  <resultMap id="BaseResultMap" type="com.xm.commerce.system.model.entity.umino.Product">
    <!--@mbg.generated-->
    <!--@Table oc_product-->
    <id column="product_id" jdbcType="INTEGER" property="productId" />
    <result column="model" jdbcType="VARCHAR" property="model" />
    <result column="sku" jdbcType="VARCHAR" property="sku" />
    <result column="upc" jdbcType="VARCHAR" property="upc" />
    <result column="ean" jdbcType="VARCHAR" property="ean" />
    <result column="jan" jdbcType="VARCHAR" property="jan" />
    <result column="isbn" jdbcType="VARCHAR" property="isbn" />
    <result column="mpn" jdbcType="VARCHAR" property="mpn" />
    <result column="location" jdbcType="VARCHAR" property="location" />
    <result column="quantity" jdbcType="INTEGER" property="quantity" />
    <result column="stock_status_id" jdbcType="INTEGER" property="stockStatusId" />
    <result column="image" jdbcType="VARCHAR" property="image" />
    <result column="manufacturer_id" jdbcType="INTEGER" property="manufacturerId" />
    <result column="shipping" jdbcType="BOOLEAN" property="shipping" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="points" jdbcType="INTEGER" property="points" />
    <result column="tax_class_id" jdbcType="INTEGER" property="taxClassId" />
    <result column="date_available" jdbcType="DATE" property="dateAvailable" />
    <result column="weight" jdbcType="DECIMAL" property="weight" />
    <result column="weight_class_id" jdbcType="INTEGER" property="weightClassId" />
    <result column="length" jdbcType="DECIMAL" property="length" />
    <result column="width" jdbcType="DECIMAL" property="width" />
    <result column="height" jdbcType="DECIMAL" property="height" />
    <result column="length_class_id" jdbcType="INTEGER" property="lengthClassId" />
    <result column="subtract" jdbcType="BOOLEAN" property="subtract" />
    <result column="minimum" jdbcType="INTEGER" property="minimum" />
    <result column="sort_order" jdbcType="INTEGER" property="sortOrder" />
    <result column="status" jdbcType="BOOLEAN" property="status" />
    <result column="viewed" jdbcType="INTEGER" property="viewed" />
    <result column="date_added" jdbcType="TIMESTAMP" property="dateAdded" />
    <result column="date_modified" jdbcType="TIMESTAMP" property="dateModified" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    product_id, model, sku, upc, ean, jan, isbn, mpn, `location`, quantity, stock_status_id, 
    image, manufacturer_id, shipping, price, points, tax_class_id, date_available, weight, 
    weight_class_id, `length`, width, height, length_class_id, subtract, minimum, sort_order, 
    `status`, viewed, date_added, date_modified
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from oc_product
    where product_id = #{productId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from oc_product
    where product_id = #{productId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="product_id" keyProperty="productId" parameterType="com.xm.commerce.system.model.entity.umino.Product" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into oc_product (model, sku, upc, 
      ean, jan, isbn, mpn, 
      `location`, quantity, stock_status_id, 
      image, manufacturer_id, shipping, 
      price, points, tax_class_id, 
      date_available, weight, weight_class_id, 
      `length`, width, height, 
      length_class_id, subtract, minimum, 
      sort_order, `status`, viewed, 
      date_added, date_modified)
    values (#{model,jdbcType=VARCHAR}, #{sku,jdbcType=VARCHAR}, #{upc,jdbcType=VARCHAR}, 
      #{ean,jdbcType=VARCHAR}, #{jan,jdbcType=VARCHAR}, #{isbn,jdbcType=VARCHAR}, #{mpn,jdbcType=VARCHAR}, 
      #{location,jdbcType=VARCHAR}, #{quantity,jdbcType=INTEGER}, #{stockStatusId,jdbcType=INTEGER}, 
      #{image,jdbcType=VARCHAR}, #{manufacturerId,jdbcType=INTEGER}, #{shipping,jdbcType=BOOLEAN}, 
      #{price,jdbcType=DECIMAL}, #{points,jdbcType=INTEGER}, #{taxClassId,jdbcType=INTEGER}, 
      #{dateAvailable,jdbcType=DATE}, #{weight,jdbcType=DECIMAL}, #{weightClassId,jdbcType=INTEGER}, 
      #{length,jdbcType=DECIMAL}, #{width,jdbcType=DECIMAL}, #{height,jdbcType=DECIMAL}, 
      #{lengthClassId,jdbcType=INTEGER}, #{subtract,jdbcType=BOOLEAN}, #{minimum,jdbcType=INTEGER}, 
      #{sortOrder,jdbcType=INTEGER}, #{status,jdbcType=BOOLEAN}, #{viewed,jdbcType=INTEGER}, 
      #{dateAdded,jdbcType=TIMESTAMP}, #{dateModified,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyColumn="product_id" keyProperty="productId" parameterType="com.xm.commerce.system.model.entity.umino.Product" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into oc_product
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="model != null">
        model,
      </if>
      <if test="sku != null">
        sku,
      </if>
      <if test="upc != null">
        upc,
      </if>
      <if test="ean != null">
        ean,
      </if>
      <if test="jan != null">
        jan,
      </if>
      <if test="isbn != null">
        isbn,
      </if>
      <if test="mpn != null">
        mpn,
      </if>
      <if test="location != null">
        `location`,
      </if>
      <if test="quantity != null">
        quantity,
      </if>
      <if test="stockStatusId != null">
        stock_status_id,
      </if>
      <if test="image != null">
        image,
      </if>
      <if test="manufacturerId != null">
        manufacturer_id,
      </if>
      <if test="shipping != null">
        shipping,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="points != null">
        points,
      </if>
      <if test="taxClassId != null">
        tax_class_id,
      </if>
      <if test="dateAvailable != null">
        date_available,
      </if>
      <if test="weight != null">
        weight,
      </if>
      <if test="weightClassId != null">
        weight_class_id,
      </if>
      <if test="length != null">
        `length`,
      </if>
      <if test="width != null">
        width,
      </if>
      <if test="height != null">
        height,
      </if>
      <if test="lengthClassId != null">
        length_class_id,
      </if>
      <if test="subtract != null">
        subtract,
      </if>
      <if test="minimum != null">
        minimum,
      </if>
      <if test="sortOrder != null">
        sort_order,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="viewed != null">
        viewed,
      </if>
      <if test="dateAdded != null">
        date_added,
      </if>
      <if test="dateModified != null">
        date_modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="model != null">
        #{model,jdbcType=VARCHAR},
      </if>
      <if test="sku != null">
        #{sku,jdbcType=VARCHAR},
      </if>
      <if test="upc != null">
        #{upc,jdbcType=VARCHAR},
      </if>
      <if test="ean != null">
        #{ean,jdbcType=VARCHAR},
      </if>
      <if test="jan != null">
        #{jan,jdbcType=VARCHAR},
      </if>
      <if test="isbn != null">
        #{isbn,jdbcType=VARCHAR},
      </if>
      <if test="mpn != null">
        #{mpn,jdbcType=VARCHAR},
      </if>
      <if test="location != null">
        #{location,jdbcType=VARCHAR},
      </if>
      <if test="quantity != null">
        #{quantity,jdbcType=INTEGER},
      </if>
      <if test="stockStatusId != null">
        #{stockStatusId,jdbcType=INTEGER},
      </if>
      <if test="image != null">
        #{image,jdbcType=VARCHAR},
      </if>
      <if test="manufacturerId != null">
        #{manufacturerId,jdbcType=INTEGER},
      </if>
      <if test="shipping != null">
        #{shipping,jdbcType=BOOLEAN},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="points != null">
        #{points,jdbcType=INTEGER},
      </if>
      <if test="taxClassId != null">
        #{taxClassId,jdbcType=INTEGER},
      </if>
      <if test="dateAvailable != null">
        #{dateAvailable,jdbcType=DATE},
      </if>
      <if test="weight != null">
        #{weight,jdbcType=DECIMAL},
      </if>
      <if test="weightClassId != null">
        #{weightClassId,jdbcType=INTEGER},
      </if>
      <if test="length != null">
        #{length,jdbcType=DECIMAL},
      </if>
      <if test="width != null">
        #{width,jdbcType=DECIMAL},
      </if>
      <if test="height != null">
        #{height,jdbcType=DECIMAL},
      </if>
      <if test="lengthClassId != null">
        #{lengthClassId,jdbcType=INTEGER},
      </if>
      <if test="subtract != null">
        #{subtract,jdbcType=BOOLEAN},
      </if>
      <if test="minimum != null">
        #{minimum,jdbcType=INTEGER},
      </if>
      <if test="sortOrder != null">
        #{sortOrder,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=BOOLEAN},
      </if>
      <if test="viewed != null">
        #{viewed,jdbcType=INTEGER},
      </if>
      <if test="dateAdded != null">
        #{dateAdded,jdbcType=TIMESTAMP},
      </if>
      <if test="dateModified != null">
        #{dateModified,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xm.commerce.system.model.entity.umino.Product">
    <!--@mbg.generated-->
    update oc_product
    <set>
      <if test="model != null">
        model = #{model,jdbcType=VARCHAR},
      </if>
      <if test="sku != null">
        sku = #{sku,jdbcType=VARCHAR},
      </if>
      <if test="upc != null">
        upc = #{upc,jdbcType=VARCHAR},
      </if>
      <if test="ean != null">
        ean = #{ean,jdbcType=VARCHAR},
      </if>
      <if test="jan != null">
        jan = #{jan,jdbcType=VARCHAR},
      </if>
      <if test="isbn != null">
        isbn = #{isbn,jdbcType=VARCHAR},
      </if>
      <if test="mpn != null">
        mpn = #{mpn,jdbcType=VARCHAR},
      </if>
      <if test="location != null">
        `location` = #{location,jdbcType=VARCHAR},
      </if>
      <if test="quantity != null">
        quantity = #{quantity,jdbcType=INTEGER},
      </if>
      <if test="stockStatusId != null">
        stock_status_id = #{stockStatusId,jdbcType=INTEGER},
      </if>
      <if test="image != null">
        image = #{image,jdbcType=VARCHAR},
      </if>
      <if test="manufacturerId != null">
        manufacturer_id = #{manufacturerId,jdbcType=INTEGER},
      </if>
      <if test="shipping != null">
        shipping = #{shipping,jdbcType=BOOLEAN},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="points != null">
        points = #{points,jdbcType=INTEGER},
      </if>
      <if test="taxClassId != null">
        tax_class_id = #{taxClassId,jdbcType=INTEGER},
      </if>
      <if test="dateAvailable != null">
        date_available = #{dateAvailable,jdbcType=DATE},
      </if>
      <if test="weight != null">
        weight = #{weight,jdbcType=DECIMAL},
      </if>
      <if test="weightClassId != null">
        weight_class_id = #{weightClassId,jdbcType=INTEGER},
      </if>
      <if test="length != null">
        `length` = #{length,jdbcType=DECIMAL},
      </if>
      <if test="width != null">
        width = #{width,jdbcType=DECIMAL},
      </if>
      <if test="height != null">
        height = #{height,jdbcType=DECIMAL},
      </if>
      <if test="lengthClassId != null">
        length_class_id = #{lengthClassId,jdbcType=INTEGER},
      </if>
      <if test="subtract != null">
        subtract = #{subtract,jdbcType=BOOLEAN},
      </if>
      <if test="minimum != null">
        minimum = #{minimum,jdbcType=INTEGER},
      </if>
      <if test="sortOrder != null">
        sort_order = #{sortOrder,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=BOOLEAN},
      </if>
      <if test="viewed != null">
        viewed = #{viewed,jdbcType=INTEGER},
      </if>
      <if test="dateAdded != null">
        date_added = #{dateAdded,jdbcType=TIMESTAMP},
      </if>
      <if test="dateModified != null">
        date_modified = #{dateModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    where product_id = #{productId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xm.commerce.system.model.entity.umino.Product">
    <!--@mbg.generated-->
    update oc_product
    set model = #{model,jdbcType=VARCHAR},
      sku = #{sku,jdbcType=VARCHAR},
      upc = #{upc,jdbcType=VARCHAR},
      ean = #{ean,jdbcType=VARCHAR},
      jan = #{jan,jdbcType=VARCHAR},
      isbn = #{isbn,jdbcType=VARCHAR},
      mpn = #{mpn,jdbcType=VARCHAR},
      `location` = #{location,jdbcType=VARCHAR},
      quantity = #{quantity,jdbcType=INTEGER},
      stock_status_id = #{stockStatusId,jdbcType=INTEGER},
      image = #{image,jdbcType=VARCHAR},
      manufacturer_id = #{manufacturerId,jdbcType=INTEGER},
      shipping = #{shipping,jdbcType=BOOLEAN},
      price = #{price,jdbcType=DECIMAL},
      points = #{points,jdbcType=INTEGER},
      tax_class_id = #{taxClassId,jdbcType=INTEGER},
      date_available = #{dateAvailable,jdbcType=DATE},
      weight = #{weight,jdbcType=DECIMAL},
      weight_class_id = #{weightClassId,jdbcType=INTEGER},
      `length` = #{length,jdbcType=DECIMAL},
      width = #{width,jdbcType=DECIMAL},
      height = #{height,jdbcType=DECIMAL},
      length_class_id = #{lengthClassId,jdbcType=INTEGER},
      subtract = #{subtract,jdbcType=BOOLEAN},
      minimum = #{minimum,jdbcType=INTEGER},
      sort_order = #{sortOrder,jdbcType=INTEGER},
      `status` = #{status,jdbcType=BOOLEAN},
      viewed = #{viewed,jdbcType=INTEGER},
      date_added = #{dateAdded,jdbcType=TIMESTAMP},
      date_modified = #{dateModified,jdbcType=TIMESTAMP}
    where product_id = #{productId,jdbcType=INTEGER}
  </update>
</mapper>