<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xm.commerce.system.web.umino.mapper.OcProductOptionMapper">
  <resultMap id="BaseResultMap" type="com.xm.commerce.system.entity.OcProductOption">
    <!--@mbg.generated-->
    <!--@Table oc_product_option-->
    <id column="product_option_id" jdbcType="INTEGER" property="productOptionId" />
    <result column="product_id" jdbcType="INTEGER" property="productId" />
    <result column="option_id" jdbcType="INTEGER" property="optionId" />
    <result column="value" jdbcType="LONGVARCHAR" property="value" />
    <result column="required" jdbcType="BOOLEAN" property="required" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    product_option_id, product_id, option_id, `value`, required
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from oc_product_option
    where product_option_id = #{productOptionId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from oc_product_option
    where product_option_id = #{productOptionId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="product_option_id" keyProperty="productOptionId" parameterType="com.xm.commerce.system.entity.OcProductOption" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into oc_product_option (product_id, option_id, `value`, 
      required)
    values (#{productId,jdbcType=INTEGER}, #{optionId,jdbcType=INTEGER}, #{value,jdbcType=LONGVARCHAR}, 
      #{required,jdbcType=BOOLEAN})
  </insert>
  <insert id="insertSelective" keyColumn="product_option_id" keyProperty="productOptionId" parameterType="com.xm.commerce.system.entity.OcProductOption" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into oc_product_option
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="productId != null">
        product_id,
      </if>
      <if test="optionId != null">
        option_id,
      </if>
      <if test="value != null">
        `value`,
      </if>
      <if test="required != null">
        required,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="productId != null">
        #{productId,jdbcType=INTEGER},
      </if>
      <if test="optionId != null">
        #{optionId,jdbcType=INTEGER},
      </if>
      <if test="value != null">
        #{value,jdbcType=LONGVARCHAR},
      </if>
      <if test="required != null">
        #{required,jdbcType=BOOLEAN},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xm.commerce.system.entity.OcProductOption">
    <!--@mbg.generated-->
    update oc_product_option
    <set>
      <if test="productId != null">
        product_id = #{productId,jdbcType=INTEGER},
      </if>
      <if test="optionId != null">
        option_id = #{optionId,jdbcType=INTEGER},
      </if>
      <if test="value != null">
        `value` = #{value,jdbcType=LONGVARCHAR},
      </if>
      <if test="required != null">
        required = #{required,jdbcType=BOOLEAN},
      </if>
    </set>
    where product_option_id = #{productOptionId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xm.commerce.system.entity.OcProductOption">
    <!--@mbg.generated-->
    update oc_product_option
    set product_id = #{productId,jdbcType=INTEGER},
      option_id = #{optionId,jdbcType=INTEGER},
      `value` = #{value,jdbcType=LONGVARCHAR},
      required = #{required,jdbcType=BOOLEAN}
    where product_option_id = #{productOptionId,jdbcType=INTEGER}
  </update>
</mapper>